# Welcome to Beautiful Jekyll!
# This config file is meant for settings that affect your entire website. When you first
# set up your website you should go through all these settings and edit them, but after
# the initial set up you won't need to come back to this file often.

# --- Required options --- #

# Name of website
title: Tyler Brassel

# Your name to show in the footer
author: Tyler Brassel

# --- List of links in the navigation bar --- #

navbar-links:
  About Me: "aboutme"
  Shiny Apps:
    - Shinylive Demo: "https://shinylive.io/py/app/#code=NobwRAdghgtgpmAXGKAHVA6VBPMAaMAYwHsIAXOcpMAYgAIA5YixOgFQAsBLAZzrVR0Arjzh8odACZwAbnAA2xVPHJ05AJx5dSdYgDM6qRWQhcIcDAB0I1rjFTF1ZOgCsepa3vXEYhqGQ55LgAjOjsHJzoABX8Oa1t7R2cYfyNmIOCsbDTnKD4jMgSI51QoCEk8-nzJT29fHgBreTgodQgMIPNWgH0YYml5MMTIgBliAHNeMi5CACU4cfUxLQ8ILx86Hm4IbCHiugBBdDw6AEkIVCEyHhOAeSvL65OAZWXtCBOl8rh1E6EuWobLZmbAYf57JKHUwpaakW6oWEQHjxCD0eZQSRhCB0AJwLGEeRCaSYniwIx407qXhSfx5OCFUxUvgAXkMkgwSwx3UIPBkAAoYgE+d1unouM0RQBKLCtSjOAD0dEsYC4TIwPJkyslKPoAGEfI88bi6DAzHYhL4ypiUgAPc2+GRQQliXQGFqEDh0PQtMhCJbWUSleTdZoQcYBXpmOis00QPmq3jAZWBp0hyjhuJgAC62qRcCDabDEdt0ZNUBt8aZSbAKeDoYzypzAfzqYA7lxJMWozGzJXE8mW8H253M028wXh8Xy6XbX2eNXa91J6Pc6h6an613sT24wn58q12QN+mAo3V+u6yeOL1pzHy3Pq4fj0WV9Yn0OO1uZ7294+L0vP1fC5-2XG8bRne9fwPEDALPHV2HUKAowkRRJh4aZCDoJZFjeHQ+gGL1HBxDgKSZGkj1EBkAA1Sz3DBJG8VA+QAckdKl6WwZiTnLXhmQARlzXZWV-VjWi4DjmKzaxUOw0sxjQjD5hwngVjjW1ui4Ch1H4gAGPTcxkhYMDFMg+Sok5sFzaw9U5Ch+GxMo7H8d5dARd4+Eo6YwzoIJ0MI9R7Kcrzxjod1PR4IJpHUaxHJhd5uk8sxxhZKEgveeFER4eNyB+R1BlZAAmPSTkUJRSzYdQhDgE4jCgbBumCK4yFIZllSieQ6uVGqoBEOAGqalq2p60QtRRARunBVl-hlcY+r0QkOz5aw6BW4QuAwEiuRIHLyCW7FVoO6aj2SjB0OwZo9oOq7VuVW6wGW666HlAAqOhnhSeRmgCvRSGcH6AtQJZ-phChMQoG1nGe+UHuuwHqpxKBgmaDAjyRvEQBhx6fvIABaLQAC84FYHgPq+gBuTGDoAXxRR7DCWE5UeRpn0cprHfrxrhCeJ0mfgp-brppgWrru27hYO3MJbwTHpu8VtLse6aSEJGA4zZ66ABZpfFxX1tKcwhwUeQFbp67prMR5ukQyRtH6shmqRJawByboyGyOAuqVMB2uYHF3c96sYRyDJPYPYxTHMM9tdN3WMAtq4EoUOBCFM5V6rYrhEeaUOwAATToAA1MSs49-A6AXQdCwbMuBwnWCa+d-9N0zE5oKPD8RzgnXrslaOY7oGyfSNEjNkin4+HbAJiLxEh7CuOBrTNGALXs60eOXh0nSq5Fu6u6b9YUJcjZN-uVvNi4E4ijsfidxdm5z14gzoEYr092NmTvq9Iw+MsbQ-yvm5gROHlKqzINYYAABwnHQvmZkGACrcWhP4OAzJYrOVIIne2SUeC93Vqbc+lsr5RVvpXZcD9Bx0AAOr1xOO-RcoFYy0PLP-OuI4gFqC3iggqGAtabAoKgOBCDAowhQWgxEmDgo4L7qfM+6145kASmPdQTt3xV1PA3KIF5n6vzLu-VRgDGG-2ZPor+tpgGcP4vA6B-DBGIKCqIpB4jEphikXgumBDL5KJUTBTuGitHUN8bQswxifFbiYX-VRDDyzmOdMyAAzFYvhsDEliIcWlDBzjkq4N3hLPB2T3HrWVhaNWOTVpQLcataaxAHgJxyCo4wfEtTSPwetapZBLbgwURoYIzkYAqKWDbFOC8EprkIOJZEYBJaPWyZKKyNhvgGFEOoDQ2VHisHOI8G4ugalkFYPcdpVwtmiBUu8VgrwTmkElIgTGAABNpjxblfCilgYwfInRkFamAA4mxCD+C0jkUawtpAGByHxPkVy8Hp2LmjWiF8yAYChVSEu4LaaPS4AYeRLzmCu3duC6MrJlRB2MCHJAFSVpinGNxcCrICinSEMEHIWUpkx1pdMMgF1lR7kBafcsp16TdBtB1YICgnZF3Ym7bl-deWUW6OdRGIrEWZzRsy020rfn2xvlBMAGcOKNhOL+RVJcxynyWL6NoXouDjFRddBQ6KsSPCxQot2a48XMgJc7cOZhS7XNKeSuohhPXmAhJEKAYgTizR8N0BwZgyDhvGDkONbLs7zNPoIVkJ9T7jHja8vc3ExBOx1RKsuhrlUqtPgAajoBGmAUbiAxpRb6q6las1JrgE7LlkyyV0DmSa+kfpsSoGtXQO5OzHmUGeZ0zGwL6YLxmKDEZydxngp9XTeR3QKhHlLKgdkAARWkAAxRC8A+QY0bcxT+L5mKsGAJii9GZwVZmaXTc9pDAJXvLre19I4H1PsesxExl7r2YoA-eyUj6u3-tCRwd9N64VYCgw+vBVMe2PThoMxEpZDLjCwAMudqyE4bqgGW1aaG53DJ4KM8ZW7cMp3eMAHSUkU2PVNf2r0bUaOgzepRsQrAQCkaGZIBdYyxA03uvMgQpYjhMXGv8aBuUfgnGkI1cYzIKpVVzGAKmeBwDQHgNQOiGp8BEF+nKagtdnzV2ljWL96irMgds23NsNDlSFuwGLAArBgPieAEnubwHxHheArHKleM1UkYtwEAE4fP+cC8FsAoXiDhbE+AgA7D5qxAW4lBYQSF+kSWoARYwAANgy95gLfn4uJeS9YPzCTSsBa1lV-LNWICea1gk6LAX0uBby2FwrKWSsZa1o1oL2W+sFY88N2LlXcsJZawN6w4CtbcK63Fub1XFsQCi2VmbQXvMTda+1jL6WKs5as5torUCEkjaG81-rV2Yuja8xdhbRXsvZYC95l7h2tueagbdhB93Jtic8+l5be3evzYe6DwLnXYvZah5d2H3nfOxaa+N6HIPasYHSwkqB3WxuvZhzj1HkDIeY+RzjjrgXCfA6Oy9hJp2MCVa1r9orpX6v+fO+zlHGXPu46C353nS3yc3di9F+nf2nt3Y2290H02AulaR-LnHCC0dnalx5qx4vnty5J9twXCSEFK551j1r4DrsvdN1r2HNPbus+J9jtrVjwHlZZ-tp3DO-PgJN+tr3W2dsJPd7NgPU3jexaB-r53nm6se6y2bqnhvotc+ewd83ge4cI8T6rl3ZOHc54N3HvzCeMCU9z+Avz3CBeI-LwbiHEfS-R6Oxlkvd3Ssi7zxlgnGBJds4z49gXGOw98-x7F5XzfM+c8y-7zvnmPuC815P8PZf0eF+d3j13i+ocF3HjMYgihopieK3DrfbfhdgF35offh+xYn5Ty9nbZ3lRX60MrRw2uq+r9u5j1-N+P-H4e7cIA5DbP6X577v5H447pbAF4CV7Z4v4QEH4AHWAn4L7ZZpbj5WZ-6QFFbRbcI06fbYFIG36AGlarZwGgGr6IHX64Gw4ILcKb5rb944HIFQFtZ4Dq7x7EG0FsHa4p6UF+4X6sGkGoGcGu7c40Fv58GAHeYUGYGjZSH-7sGebkG94ZYNbUHgG8GiEQAn6b7eYQ6KHaHSG6GqExbwFgEiEoEu5QKMGUHlY8GmE2En4MFn57ZKF0E45qFx5rbp7WEqHqER6W6xblImHKF34vawE-5OERGAHZbcI+7qFWEkEuFRHk4KHxYBGRErbqHgI16xFeF6FDYYG0476pHsEn52EZHk7GHZGAF454Bt7paeEyFiHyHx4e6tFmGC7cLT4l6FFtEu5f40497+EVGf7iE06naDE9HVFMGR6zEuHiHpaebu4d7hFFHHalHn5LGVHTaWFDbdFpEGGUHM7CETHxHiGlExHHGBGc4OEIGbFDGx7iE+5PH1E45f6lZGFZGXGoGM6UGaEsH-G2HiE-GLF3FTbV786SHPE9FqHg4z6-6glg4WEz5zafEu4wF5HIl7GRFuHRb5EfGonpF1axbjE6E2FonRHW5aFYloGwk+HYGqiTCmC-La7zFNF0nRYv6slmgcliapaAmeb4E-aX78nslbaMkUHmEBZhEFySkzDSke7Zb-biGYlKmCnWDCkPEn5qH+FamZ5ilJHNEsnqBsnKlizCkJHqGMnynmmWnanFE4l+bqkOl8kWkClbbClcGlYn5yFdESlelSmRFx4IJrGcGOnek5ErHckC68nBlOkqnXbclf6GkhlWmw6ulNFRmenJmcniFQKRkEHRmhmAE04Rmr4wn5kxmAHkmvEelJl1k6lG7k76EalllZmtk4n+nqE1nNnlntFWK7G1lDnFEP5Vk4m-5Gna5qEgH4FdnOnCk4lQIdmamZnOkymC5P7k5jndkumwk0nimKmbk+k65WKaEKmzmAFuEgE97XlnmRGo6UFraPkFkVlFnckGlLnnnq7ck94bGnkfmtm5Frk8m-nWlBHtmBYbkgXFFgXfmdn7lbnVnk6RlWE3kAmBmlZyk75YUQArkxYBnXGQVXHi7mGlkoUqk07eaNl7mDkHkPEhFNnAUtkTm7bHbcIZnwUdnB5IVUWMWoUP50XpEzlPmw5ckYXqHUWRFW5VliniW8Vtlqm9FBlsXjl8XcluFKXsXblukS5kUAkNlWJwV6UXlaxcX0kEWikxbSXvl1maZZhAA"
  GitHub: "https://github.com/tbrassel"

# --- Logo --- #

# Image to show in the navigation bar - works best with a square image
# Remove this parameter if you don't want an image in the navbar
avatar: "/assets/img/logo.png"

# By default, the image is cut into a circle. You can disable this behaviour by setting 'round-avatar: false'
round-avatar: true

# If you want to have an image logo in the top-left corner instead of having the title of the website,
# then specify the following parameter
#title-img: /path/to/image


# --- Footer social media links --- #

# Select the social network links that you want to show in the footer.
# Uncomment the links you want to show and add your information to each one.
social-network-links:
  email: "tbrassel@duck.com"
# rss: true  # remove this line if you don't want to show an RSS link at the bottom
  github: tbrassel
#  telephone: +14159998888


# If you want your website to generate an RSS feed, provide a description
# The URL for the feed will be https://<your_website>/feed.xml
#rss-description: This website is a virtual proof that I'm awesome

# --- General options --- #

# Select which social network share links to show in posts
#share-links-active:
#  twitter: true
#  facebook: true
#  linkedin: true
#  vk: false

# How to display the link to your website in the footer
# Remove this if you don't want a link in the footer
#url-pretty: "MyWebsite.com"

# Excerpt word length - Truncate the excerpt of each post on the feed page to the specified number of words
excerpt_length: 50

# Whether or not to show an excerpt for every blog post in the feed page
feed_show_excerpt: true

# Whether or not to show a list of tags below each post preview in the feed page
feed_show_tags: true

# Add a search button to the navbar
post_search: true

# The keywords to associate with your website, for SEO purposes
#keywords: "Geneious Prime, Management, JIRA, Atlassian, Manager, Leadership, Lead, SQL, MySQL, SQL Passthrough, SQLite, Bioinformatics, R, RStudio, Python, Biopython, Data Science, Biostatistics, Biology, tensorflow, NumPy, R notebooks, RMarkdown, Markdown, Jupyter Notebooks, JupyterLab, Bioconductor, NGS,  Databases, GWAS, UniProt, Ensembl, GenBank, BioMart, scAlign, PharmGKB, NCBI, Genomics, Computer Science, Statistics, ggplot2, CellBench, Single cell, single-cell, scRNA, scRNA-seq, e-QTL, differential expression, package development, best practices, roxygen2, heatmaps, Robetta, trRosetta, DESeq2, edgeR, Biostrings, ClustalW, MAFFT, Blast, Docker, SLURM, Amazon, AWS EC2, Bash, VSCode, Atom, Project Jupyter, Linux, Ubuntu, Arch, BLAST, Science, Analysis, LaTex, US Citizen, Citizen"

# --- Colours / background image --- #

# Personalize the colours in your website. Colour values can be any valid CSS colour

navbar-col: "#88b7e2"
navbar-text-col: "#404040"
navbar-border-col: "#DDDDDD"
page-col: "#FFFFFF"
text-col: "#404040"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#EAEAEA"
footer-text-col: "#777777"
footer-link-col: "#404040"
footer-hover-col: "#0085A1"

# Alternatively, the navbar, footer, and page background can be set to an image
# instead of colour

#navbar-img: "/assets/img/bgimage.png"
#footer-img: "/assets/img/bgimage.png"
page-img: "/assets/img/background.png"

# Suggest a colour for mobile browsers to use as the browser's theme. This is only supported by a few mobile browsers.
#mobile-theme-col: "#0085A1"

# For any extra visual customization, you can include additional CSS files in every page on your site. List any custom CSS files here
#site-css:
#  - "/assets/css/custom-styles.css"

# If you have common JavaScript files that should be included in every page, list them here
#site-js:
#  - "/assets/js/custom-script.js"

# --- Web Analytics Section --- #

# Fill in your Google Analytics gtag.js ID to track your website using gtag
#gtag: ""

# Fill in your Google Analytics ID to track your website using Google Analytics
#google_analytics: ""

# Fill in your Cloudflare Analytics beacon token to track your website using Cloudflare Analytics
#cloudflare_analytics: ""

# Google Tag Manager ID
#gtm: ""

# Matomo (aka Piwik) Web statistics
# Uncomment the following section to enable Matomo. The opt-out parameter controls
# whether or not you want to allow users to opt out of tracking.
#matomo:
#  site_id: "9"
#  uri: "demo.wiki.pro"
#  opt-out: true

# --- Comments --- #

# To use Disqus comments, sign up to https://disqus.com and fill in your Disqus shortname (NOT the userid)
#disqus: ""

# To use Facebook Comments, create a Facebook app and fill in the Facebook App ID
#fb_comment_id: ""

# To use Utterances comments: (0) uncomment the following section, (1) fill in
# "repository" (make sure the repository is public), (2) Enable Issues in your repository,
# (3) Install the Utterances app in your repository https://github.com/apps/utterances
# See more details about the parameters below at https://utteranc.es/
#utterances:
#  repository: # GitHub username/repository eg. "daattali/beautiful-jekyll"
#  issue-term: title   # Mapping between blog posts and GitHub issues
#  theme: github-light # Utterances theme
#  label: blog-comments # Label that will be assigned to GitHub Issues created by Utterances

# To use Staticman comments, uncomment the following section. You may leave the reCaptcha
# section commented if you aren't using reCaptcha for spam protection. 
# Using Staticman requires advanced knowledge, please consult 
# https://github.com/eduardoboucas/staticman/ and https://staticman.net/ for further 
# instructions. For any support with staticman please direct questions to staticman and 
# not to BeautifulJekyll.
#staticman:
#  repository : # GitHub username/repository eg. "daattali/beautiful-jekyll"
#  branch     : master # If you're not using `master` branch, then you also need to update the `branch` parameter in `staticman.yml`
#  endpoint   : # URL of your deployment, with a trailing slash eg. "https://<your-api>/v3/entry/github/"
#  reCaptcha:   # (optional, set these parameters in `staticman.yml` as well) 
#    siteKey  : # You need to apply for a site key on Google
#    secret   : # Encrypt your password by going to https://<your-own-api>/v3/encrypt/<your-site-secret>

# To use giscus comments:
# (0) Uncomment the following giscus section, (1) Enable Discussions in your GitHub repository, 
# (2) Install the giscus app in your repository (details at https://giscus.app),
# (3) Fill in *all* the parameters below 
# See more details about giscus and each of the following parameters at https://giscus.app
#giscus:
#  hostname: giscus.app # Replace with your giscus instance's hostname if self-hosting
#  repository: # GitHub username/repository eg. "daattali/beautiful-jekyll"
#  repository-id: # ID of your repository, retrieve this info from https://giscus.app
#  category: Announcements # Category name of your GitHub Discussion posts
#  category-id: # ID of your category, retrieve this info from https://giscus.app
#  mapping: pathname
#  reactions-enabled: 1
#  emit-metadata: 0
#  theme: light

# --- Misc --- #

# Ruby Date Format to show dates of posts
date_format: "%B %-d, %Y"

# Facebook App ID
#fb_app_id: ""

# --- You don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Los_Angeles"
markdown: kramdown
highlighter: rouge
permalink: /:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # any file that's not a post will be a "page" layout by default
    values:
      layout: "page"

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag

# Beautiful Jekyll / Dean Attali
# 2fc73a3a967e97599c9763d05e564189

